#divJoursSemaine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px;
}

.jourSemaine {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2px;
    margin: 2px;
}

.imgheadertablezone {
    text-align: center;
}

.imgheadertable {
    height: 85px;
}

.txtvertical {
    writing-mode: sideways-lr;
}

.pharmaciecolonne {
    width: 5px;
}

.aligncenter {
    text-align: center;
}

.bg-grey {
    background-color: #aaaaaa;
}

.bg-lightgreen {
    background-color: #1eec5b;
}

.bg-lightblue {
    background-color: #53cbee;
}

.bg-lightgrey {
    background-color: #f2f2f2;
}

.bg-violet {
    background-color: #eeba0d;
}

.imgtaskclose {
    height: 18px;
    margin-right: 10px;
    margin-left: 10px;
}

.icontoday {
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
}

td {
    padding: 7px;
}

th {
    padding: 5px;
}