#divJoursSemaine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px;
}

.jourSemaine {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2px;
    margin: 2px;
}

.imgheadertablezone {
    text-align: center;
}

.imgheadertable {
    height: 85px;
}

.txtvertical {
    writing-mode: sideways-lr;
}

.pharmaciecolonne {
    width: 5px;
}

.aligncenter {
    text-align: center;
}

.bg-grey {
    background-color: #aaaaaa;
}
/*3 classes pour la couleur de fond de la cellule des batches */
.bg-batch-new {
    background-color: #2eec1e82;
}

.bg-batch-inuse {
    background-color: #00ffff59;
}

.bg-batch-used {
    background-color: #ffb30091;
}
/*Couleur de fond pour les lignes du tableau avec les stups. gris différent de la classe "table-striped"*/
.bg-lightgrey {
    background-color: #f2f2f2;
}

/*img/icon de tache finie*/
.imgtaskclose {
    height: 18px;
    margin-right: 10px;
    margin-left: 10px;
}

.bg-cell-today{
    background-color: #e0ff008c;
}
/*icon pour montrer aujourd'hui dans la page détails*/
.icontoday {
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
}
/*Pour le tableau de la page détails*/
td {
    padding: 7px;
}

th {
    padding: 5px;
}
/*Les cases clickable pour aller vers la page edit*/
.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: #d7fffd;
}

/*Les cellules mises en évidence quand il y un problème*/
.dataerror{
    background-color: rgba(255, 87, 0, 0.93);
}