.banner {
    background-color: lightblue;
    width: 100%;
}

.menutile {
    background-color: aliceblue;
    font-size: xx-large;
}

.day {
    background-color: #fffdfd;
    max-width: 158px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2px;
    margin: 2px;
}

.week {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    flex-direction: row;
    padding: 2px;
    margin: 2px;
}
.dayheader {
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 3px;
}
.hour {
    overflow: visible; !important;
    background-color: rgb(182, 255, 188);
    padding: 4px;
    margin: 2px;

}

.horizontal{
    color: white;
    text-align: center !important;
    font-weight: bold;
    writing-mode: vertical-rl !important;
    text-orientation: upright !important;

}

.container {
    max-width: 74.9em;
}

.btncont
{
    max-width: 100px;
    padding: 4px;
    margin: 2px;

}

